<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
</head>
<style>

    #app {
        
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-weight: bold;
    }

    ul{
        list-style-type:none;
    }
    
</style>

<body>

    <div class="container">
        <div id="app">

            <form>
                <label for="input">Introdu Numerele : </label>
                <input name="input" v-model="inputString" placeholder="">
                <button v-on:click="buttonClicked = true" type="button">Calculeaza !</button>
            </form>
            <div><h1></h1></div>
            <div class="array--container">
            <div v-show="splitArray(inputString).length > 0 && buttonClicked">
                <ul>
                    <li v-for="items in splitArray(inputString)">{{ items }}</li>
                </ul>
            </div>
            </div>


        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>